<mat-card class="vis mat-elevation-z3">

    <mat-card-title style="text-align:center" class="title">Degree</mat-card-title>
    <mat-card-content>
        <p><b>Definition:</b> Degree represents the number of direct connections of one node with another in graph.</p>
        
        <p><b>What it tells us:</b> Nodes to a greater degree tell us that there are a lot of direct connections to other nodes in the graph. On the other hand, a lesser degree tells us that there are few direct connections between these nodes.</p>

        <p><b>Visualization Context:</b> The degree of each node is used to determine its <b>size</b> when generating the visualization. To prevent disproportionate views, a relative size is applied to each node.</p>

    </mat-card-content>

</mat-card>
