<mat-card class="home mat-elevation-z3">

    <mat-card-title class="title">Welcome</mat-card-title>

    <mat-card-content>LucVis presents scientific social networks illustrated by Brazilian Graduate Programs.</mat-card-content>
    
    <mat-card-title class="title">Universities and Researchers</mat-card-title>

    <app-universitys-chart></app-universitys-chart>

    <mat-card-title>Current Data</mat-card-title>
    <mat-card-content>
    <p>Total number of graduate programs researchers: 179</p>
    <p>Total number of authors: 7993 </p>
    <p>Total number of publications: 8029</p>
    <p>Articles: 2473</p>
    <p>Books: 14</p>
    <p>In proceedings: 5422 </p>
    <p>Incollections: 69</p>
    <p>PhdThesis: 51</p>
    </mat-card-content>
    
</mat-card>
