<mat-card class="home mat-elevation-z3">

    <mat-card-title class="title-welcome">Welcome to Lucvis</mat-card-title>


    <mat-card-content> <p>Lucvis presents scientific social networks illustrated by Brazilian Graduate Programs.</p> </mat-card-content>
    

</mat-card>

<div fxLayout="row-wrap" fxLayoutAlign="center" fxLayoutGap="20px">

<mat-card>
    <mat-card-title>Universities and Researchers</mat-card-title>

    <app-universitys-chart></app-universitys-chart>
</mat-card>

<mat-card>
    <mat-card-title>Current Data</mat-card-title>
    <mat-card-content>
    <p>Total number of graduate programs researchers: 194</p>
    <p>Total number of authors: 8418 </p>
    <p>Total number of publications: 8757</p>
    
    <ul>
        <li>Articles: 3030</li>
        <li>Books: 16</li>
        <li>In proceedings: 5711</li>
        <li>Incollections:72</li>
        <li>PhdThesis: 49</li>
    </ul>
    </mat-card-content>
</mat-card>


</div>
<mat-card class="card3">
    <mat-card-title>Intra and inter-program collaboration network</mat-card-title>
    
    <mat-card-content>
        <p>Edges present total number of publications in co-authorship between two programs.</p>
       <app-universities-network></app-universities-network>
    </mat-card-content>

</mat-card>

