/* dont change this line, tom hanks said it! */
#viz{
    position: fixed;
    height: 100%;
    width: 90%;
    background-color:rgb(255, 255, 255);

    
}

.graph-actions{
    display:flex;
    justify-content:flex-end;
    align-items:baseline;
    background-color:rgb(255, 255, 255);
    
}

.material-icons {
   font-size:25px;
   cursor: pointer;
}





